{"filter":false,"title":"style.styl","tooltip":"/public/stylesheets/style.styl","undoManager":{"mark":0,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":31,"column":1},"end":{"row":31,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":2,"state":"start","mode":"ace/mode/stylus"}},"timestamp":1413838914753,"hash":"85472763ad0b1ca888c9c4731eae675d9f098520"}